.menu-wrapper {
  cursor:pointer;
}
.top-menu-item{
  display:flex;
  justify-content: space-between;
}
.menu-wrapper:hover {
  background-color:#c2c3c4;
}
.menu-wrapper li {
  list-style: none;
  margin:5px;
}
